*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Caviar Dreams Bold";
    background-image: url(../images/background5.png);
    color: #59523a;
}

.container {
    width: 800px;
    background-color: #d3c79e !important;
    border-radius: 10px;
    padding: 0 !important;
}

header {
    text-align: center;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 80px;
    background-color: #59523a;

}

h1 {
    font-family: "Coolvetica rg";
    font-weight: 700;
    color: white;
}

.my-3 {
    color: #59523a;
    font-weight: 700;
}

.btn {
    padding: 10px 40px;
    border-style: none;
    background-color: #59523a;
}

.btn:hover {
    background-color: #59523ae3;
    transition: 1s;

}

.labels,
.form-control-file {
    color: #59523a;
    font-weight: 700;
}