
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-image: url(../images/background5.png);
    color: aliceblue;
}

header {
    text-align: center;
    background-color: #D3C79E;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.img-login {
    width: 400px;
    height: 432px;
    background-image: url(../images/ilustraçãopersonagem.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.conteudo {
    width: 800px;
    background-color: rgba(0, 0, 0, 0.712);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.textologin {
    margin-top: 10px;
}

.text-warning {
    display: block;
    text-decoration: none;
}

h1 {
    color: #59523a;
    font-family: "Coolvetica rg";
}

h2 {
    color: #d8c070;
}

h3 {
    text-align: center;
    font-size: 22px;
    color: white;
}

.h5 {
    color: white;
}


.btn {
    background-color: #d8c070;
    color: black;
    font-weight: 700;
    padding: 8px 40px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #dbb740;
    transition: 1s;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.explicacao,
.explicacao02 {
    width: 600px;
    gap: 100px;
    background-color: rgba(0, 0, 0, 0.712);
    padding: 10px;
    border-radius: 10px;
}

.explicacao02 {

    margin: 20px 0px;
}

.color01 {
    color: #D3C79E;
    text-align: justify;
    text-indent: 3ch;
}






    
