
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: Roboto;
    src: url(../fontes/simplessemserifa/formatowoff/Roboto-Regular.woff);
}

    body {
        background-image: url(../images/background5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;

        width: 100%;
        right: 100vh;
        font-family:Roboto;
    }

    h4{
        font-family: Roboto;
    }

    table{
        font-family: Roboto;
    }



    form{
        font-family: Roboto;
        
    }

    .colorlabel{
        color: #ffffff;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 15px;
        border-radius: 15px;
        background: #665E58;

    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background-color: #000000c2;
        color: #ffffff;
        font-size: 1.5em;
        border-radius: 5px;
        border: none;
        margin: 0px 5px;
        font-family: Roboto;
    }

    .profile-button:hover {
        background-color: #d49645;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.411);
        transition: 1s;
        color: #0f0f0f;
    }

    .profile-button:focus {
        background-color: #dbb740;
        box-shadow: none
    }

    .profile-button:active {
        background-color: #dbb740;
        box-shadow: none
    }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels, th{
        font-size: 1.5em;
    }
    

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }

    .topico1 {
        background: linear-gradient(to right, #b0a78a, #95896b, #5b5454);
        border-radius: 5px;
        margin-bottom: 20px;
        font-family: "Dream Orphans";
        font-size: 75%;
    }


    .menu li a {
        background: #d3c79e;
        text-decoration: none;
        color: #59523a;
        width: 100%;
        height: 50px;
        line-height: 40px;
        font-size: 100%;
        text-align: center;
    }



    li {
        border-top: 2px solid #b1a47e;
        border-bottom: 2px solid #d5d1ba;
        background-color: #D3C79E;
    }

    li a:hover {
        background: #aa7c5963;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.411);
        border-radius: 5px;

    }


    .menu2 a,
    .dropdown-item {
        font-size: 110%;

    }

    .dropdown-item:hover {
        background-color: #d49645;
        border-radius: 0px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.493);
        color: rgb(14, 13, 13);
        transition: 0.5s;

    }

    .menu button {
        position: relative;
        left: 20%;
    }


    label {
        font-family: "Caviar Dreams Bold";
        color: #504833;
    }

    .bgcard {
        background: #d3c79e !important;
        border-radius: 15px;
        font-family: roboto;
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: #d3c79e;
        overflow-y: auto;
        width: 300px;
        transition: all ease-in-out 0.5s;
        z-index: 9997;

    }
  
    
    #header .profile img {
        display: block;
        margin: 5px auto;
        border-radius: 50%;
        border: 3px solid #2c2f3f;        
    }

    #header .profile a {
        display: block;
        font-size: 1rem;
        padding: 0.6rem;
        transition: 0.3s;
        text-decoration: none;
        
    }

    .nav-menu {
        padding: 1.5rem;
    }

    .nav-menu a,
    .nav-manu a:focus {
        display: flex;
        align-items: center;
        color: #2F4F4F;
        transition: 1s;
        font-size: 15px;
        font-weight: 700;
    }

    .nav-menu a i,
    .nav-menu a:focus i {
        font-size: 24px;
        padding-right: 0.8rem;
        color: #2F4F4F;
    }

    .nav-menu a:hover,
    .nav-menu .active,
    .nav-menu .active:focus,
    .nav-menu li:hover>a {
        text-decoration: none;
        color: #fff;
    }

    .nav-menu a:hover i,
    .nav-menu .active i,
    .nav-menu .active:focus i,
    .nav-menu li:hover>a i {
        color: #800000;
    }

    .mb-0{
        font-size: 1.6em;
        font-weight: bold;
        color: black;
        
    }

    .my-3{
        color: black;
    }

    .card{
        background-color: #d49645;
        font-family: roboto;
    }



    #main {
        margin-left: 323px;
    }

    #btnnovo{
        transition: 1s;
    }
    
    section#inicio {
        background-image: url(../images/background5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;

        width: 100%;
        right: 100vh;
    }

    .dropdown-menu {
        width: 250px;
        padding: 0px;

    }

    .mt-5{
        margin-bottom: 20px;
    }

    i.menu-mobile {
        position: fixed;
        color: #fff;
        background-color: #59523a;
        right: 1rem;
        top: 1rem;
        font-size: 1.5rem;
        border-radius: 4rem;
        cursor: pointer;
        z-index: 10;
        width: 45px;
        height: 45px;
        display: none;
        justify-content: center;
        align-items: center;
    }
    
    .menu-nav-active{
        overflow: hidden;
    }

    .menu-nav-active #header {
        left: 0px;
    }

    @media (max-width: 1024px) {
        #header {
            left: -300px;
        }
        #btnnovo{
            visibility:hidden;
        }
        i.menu-mobile{
            display: flex;
        }
        #main {
            margin-left: 20px;
        }
        
    }

    #tabpriori thead{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        background-color: #000000;
        color: #fff;
        height: 75px;
    }
    

    #tabpriori tbody{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        height: 50px;
        font-size: 1rem;
        color: white;
    }

    #tabpriori tr{
        height: 75px;
    }

    #tabstatus thead{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        background-color: #000000;
        color: #fff;
        height: 75px;
    }

    #tabstatus tbody{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        height: 50px;
        font-size: 1rem;
        color: white;

    }

    #tabstatus tr{
        height: 75px;
    }


